package ${packageName}.service;

import java.util.List;

import org.springframework.data.domain.Page;

import com.alibaba.fastjson.JSONObject;
import ${packageName}.entity.${ClassName};

/**
 * ${functionName} Service 接口
 * 
 * @author ${author}
 *
 */
public interface I${ClassName}Service {

	/**
	 * 分页查询列表
	 * @param paramJson 参数
	 * @return Page
	 */
	Page<${ClassName}> pageList(JSONObject paramJson);

	/**
	 * 查询全部
	 * @param paramJson 参数
	 * @return List
	 */
	List<${ClassName}> findList(JSONObject paramJson);

	/**
	 * 查询详情
	 * @param id 编号
	 * @return ${ClassName}
	 */
	${ClassName} getById(String id);

	/**
	 * 保存
	 * @param entity 对象
	 * @return ${ClassName}
	 */
	${ClassName} save(${ClassName} entity);

	/**
	 * 删除
	 * @param id 编号
	 * @return int
	 */
	int deleteById(String id);

}
